@font-face {
    font-family: 'rajdhani';
    src: url(../Police/Rajdhani-Medium.ttf);
}

:root {
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 35px;
}

button {
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

main {
    border: 2px solid #C4C4C4;
    border-bottom: 0;
}

footer {
    border: 2px solid #C4C4C4;
    border-top: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.container .text {
    margin: auto;
    padding-top: 300px;
    text-align: center;
    width: 600px;
    font-size: 22px;
}

.container .titre {
    margin: 50px;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta .btn {
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    margin: 15px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.40), rgba(137, 0, 9, 0.60));
    padding: 10px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.cta .btn:hover {
    background-image: linear-gradient(to right, rgba(237, 222, 191), rgba(137, 0, 9));
}

#Hero img {
    margin-top: 150px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}


/*Insertion de l'arrière plan 1*/

header {
    /* background-color: aqua; */
    /* width: 75%; */
    margin: 0 auto;
    width: 80%;
    border: 1px solid #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/*Design de la navigation*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

ul {
    list-style: none;
}

nav ul a {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
}

nav ul a:hover {
    color: var(--yellow-color);
}


/*Design de la partie Hero de l'entete*/

#Hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: aqua;
}


/*Design de la section batman personnage*/

#batman-cinema,
#nemesis,
#les-allies {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 100px;
}

.personnage-head {
    margin: auto;
    text-align: justify;
}

.personnage-head .img1 {
    margin-bottom: -50px;
    margin-left: 100px;
    width: 140px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.row .card {
    margin: 0;
    margin-top: 80px;
    text-align: center;
    width: 30%;
}

.row .card img {
    width: 100%;
}

.personnage-head .img-allies {
    display: flex;
    justify-content: space-between;
}

.img-allies img {
    margin-right: -21%;
    margin-top: -200px;
}

.personnage-head p {
    font-size: 22px;
    margin-bottom: 60px;
}